# Python bytecode
*.pyc
*.pyo
__pycache__/

# Django specific
*.log
*.pot
*.py[cod]
db.sqlite3
/media
/staticfiles

# Environment variables
.env

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db

# JSON files
*.projetodocumentai-882de4f8cee5.json
# pdf
*.pdf